
<style>
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
       
    }
    .column{
        flex: 1;

        height: 14vw;
        text-align: center;
        justify-content: center;
    }
    .column-middle{
        flex:2;
     
        text-align: center;
        height: auto ;
    }
    .row {
        display: flex;
        flex-direction: column;
        height: 6vh;

        justify-content: center;
    }
    .row-middle{
        display: flex;
        flex-direction: column;
        height: 70vh;

        justify-content: center;
    }
    .table{
        margin:auto;
        height: auto;
        min-height:60vh ;
        width: 60vw ;


    }
    .table-row{
        flex:1;
        display: flex;
        flex-direction: column;
        height: 10vh;

        justify-content: center;
    }
    .table-row-2{
        flex:1;
        display: flex;
        flex-direction: column;
        height: 28vh;
    
        justify-content: center;

    }
    .border-medium{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .border{
        flex:1;
        display: flex;
        flex-direction: column;

        height: 30vh;
        justify-content: center;
        
    }
    .border-middle{
 
        flex:4;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        text-align: end;
 
    }
    .text{
        font-family: monospace;
        font-size: 2rem;
        margin-top: 40px;
        margin-left: 160px;
    }
    .text-body{
        font-family: monospace;
        font-size: 1.2rem;
    }
    .text-body-error{
        font-family: monospace;
        font-size: 0.9rem;
        margin-bottom: 1px;
        text-align: left;
        margin-left: 240px;
        width: 28vw  ;
    }
    .button{
 
        margin-left: 150px;
        height: 30px;
        width: 80px;
        font-family: monospace;
        font-size: 0.8rem;
        background-color: rgb(46, 46, 46);
        color: rgb(255, 255, 255);
        margin-top: 20px;
    }
    .type{
        font-family: monospace;
        font-size: 1rem;
        background-color: transparent;
        color: rgb(63, 63, 63);
        outline: none; 
        border: 1px solid rgb(114, 114, 114);
        padding: 4px;
        width: 28vw ;
    }
    .content-buttom{

    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
    }
    .row-family{
    font-family: monospace;
        font-size: 0.7rem;
        margin-top: 2px;
     
    }
   
</style>




<app-top-bar></app-top-bar>


<div class="container">
    <div class="column" >
        <div class="row"></div>
        <div class="row-middle"></div>
        <div class="row"></div>  
    </div>
    <div class="column-middle" >   
       <div class="row"></div>
       <div class="row-middle">
        <div class="table" >
            <div class="table-row" >
                 <p class="text" >Crear una cuenta</p>
                    </div>
            <div class="table-row-2" >
                <div class="border-medium" >
                    <div class="border" > </div>
                    <div class="border-middle" >
                        <p class="text-body">Nombre: <input class="type" type="text" [(ngModel)]="user.firstName"></p>
                        <p class="text-body">Apellido: <input class="type" type="text" [(ngModel)]="user.lastName"></p>
                        <p class="text-body">Email: <input class="type" type="text" [(ngModel)]="user.email"></p>
                        <p class="text-body">Password: <input autocomplete="new-password" class="type" type="password" name="password" [(ngModel)]="user.password"></p>

                        <div class="content-button" >
                            <button (click)="onSubmit()" class="button " >CREAR</button>
                        </div>
                    </div>
                    <div  class="border" > 
                        <div >
                                             </div>
                    </div>
                </div>
            </div>
            <p class="text-body-error mb-0 "  *ngFor="let error of errors">
                - {{ error.ErrorMessage }}
              </p>
               </div>      
       </div>
       <div class="row"></div>  
     </div>
    <div class="column" >
        <div class="row"></div>
        <div class="row-middle"></div>
        <div class="row"></div>  
    </div>
</div>




<style>

</style>