

<style>
    .container {
    display: flex;
    flex-direction: row;
    height: 9vh; /* Ajusta la altura del contenedor según sea necesario */
    width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
    border-bottom: 2px solid rgb(94, 93, 93);
    margin-top: 20px;

  }
    .border {
   
        border-radius: 10px;
      
        height: 10px ;
    }
    .column {
        display: flex;
        flex-direction: column;
        height: 10vh;
        justify-content: center;
     
        text-align: center;
        flex: 1; /* Las columnas se expanden para ocupar el espacio disponible */

    }
    .column-middle{
        display: flex;
        flex-direction: column;
        flex: 2;
        text-align: center;
        justify-content: center;

    }
    .title
    {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sub-column{

        text-align: center;
        flex: 1; /* Las columnas se expanden para ocupar el espacio disponible */
    }
    .sub-container{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .text{
        text-align:left; 
        flex: 1; /* Las columnas se expanden para ocupar el espacio disponible */
        font-family: monospace;
        font-size: 0.8rem;

        text-decoration: none;
        border-left: 1px solid rgb(48, 48, 48);
        margin-left: 4px;
        width: 4rem;
    }
   
    .text-clinical{
        text-align: center;
        flex: 1; /* Las columnas se expanden para ocupar el espacio disponible */
        font-family: monospace;
        font-size: 2rem;
 

    }
    .text-sub{
        margin-left: 20px;
    }
    .text-sub-sesion{
        margin-left: 20px;
    }
  
</style>

<div class="container">

        <div class="column">
            <div>
                <p class="text-clinical" >CLINICA</p>
            </div>
    
        </div>
        <div class="column-middle">
           <div><P class="text" ></P> </div>
        </div>
        <div class="column"> 
            <div class="sub-container" >
                <div class="text" >
                    <p class="text-sub" > {{currentUser?.lastName}} </p>    
                    <p class="text-sub" >{{currentUser?.email}} </p>
           
                </div>
                <div  class="text" >
                    <div></div>
                    <p class="text-sub-sesion mt-16 " > Cerrar Sesión </p>
                </div>
           
            </div>
        </div>
    </div>
   





