
<style>
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
       
    }
    .column{
        flex: 1;

        height: 14vw;
        text-align: center;
        justify-content: center;
    }
    .column-middle{
        flex:2;
     
        text-align: center;
        height: auto ;
    }
    .row {
        display: flex;
        flex-direction: column;
        height: 6vh;

        justify-content: center;
    }
    .row-middle{
        display: flex;
        flex-direction: column;
        height: 60vh;

        justify-content: center;
    }
    .table{
        margin:auto;
        height: 42vh;
        width: 48vw ;
        border: 1px solid white;

    }
    .table-row{
        flex:1;
        display: flex;
        flex-direction: column;
        height: 10vh;

        justify-content: center;
    }
    .table-row-2{
        flex:1;
        display: flex;
        flex-direction: column;
        height: 18vh;
    
        justify-content: center;

    }
    .border-medium{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .border{
        flex:1;
        display: flex;
        flex-direction: column;

        height: 30vh;
        justify-content: center;
        
    }
    .border-middle{
        margin-top: 80px;
        flex:4;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        text-align: end;
 
    }
    .text{
        margin-left: 50px;
        font-family: monospace;
        font-size: 2rem;
        margin-top: 40px;
    }
    .text-body{
        font-family: monospace;
        font-size: 1.2rem;
    }
    .button{
        margin-top: 20px;
        margin-left: 170px;
        height: 30px;
        width: 80px;
        font-family: monospace;
        font-size: 0.8rem;
        background-color: rgb(46, 46, 46);
        color: aliceblue;
    }
    .type{
        font-family: monospace;
        font-size: 1rem;
        background-color: transparent;
        color: white;
        outline: none; 
        border: 1px solid rgb(114, 114, 114);
        padding: 4px;
        width: 22vw ;
    }
    .content-buttom{

        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .row-family{
    font-family: monospace;
        font-size: 0.7rem;
        margin-top: 2px;
     
}

</style>




<app-top-bar></app-top-bar>


<div class="container">
    <div class="column" >
        <div class="row"></div>
        <div class="row-middle"></div>
        <div class="row"></div>  
    </div>
    <div class="column-middle" >   
       <div class="row"></div>
       <div class="row-middle">
        <div class="table" >
            <div class="table-row" >
                 <p class="text" >Iniciar Sesión</p>
                    </div>
            <div class="table-row-2" >
                <div class="border-medium" >
                    <div class="border" > </div>
                    <div class="border-middle">
                        <p class="text-body">
                          Email: <input class="type" type="text" [(ngModel)]="email" name="email">
                        </p>
                        <p class="text-body">
                          Password: <input class="type" autocomplete="new-password"  type="password" [(ngModel)]="password" name="password">
                        </p>
                        <div *ngIf="message" class="row-family">
                            {{ message }}
                          </div>
                        <div class="content-button">
                          <button class="button" (click)="login()">Ingresar</button>
                        </div>
                      </div>
                    <div  class="border" ><div></div></div>
                </div>
            </div>
        </div>
       </div>
       <div class="row"></div>  
     </div>
    <div class="column" >
        <div class="row"></div>
        <div class="row-middle"></div>
        <div class="row"></div>  
    </div>
</div>



<style>

</style>